.saved-card-delete-icon path{
    fill: black;
}


.profle-page-saved-cards{
    display: flex;

}

.profile-page-saved-card{
    background-color: gray;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.profile-page-saved-card-cardnumber{
    font-size: 23px;
}

.profile-page-saved-card-delete{
    display: flex;
    justify-content: flex-end;
}

.saved-card-delete-icon{
    cursor: pointer;
}
